# cocotb
sim_build
results.xml
__pycache__
*.vcd
*.fst
*.fst.hier
*.gtkw

# emacs
*#
*~

# quartus
*.qsys_edit
*.bak
*.qws
*.qpf
*.sopcinfo
*.qsf
*db
*tmp
*.qip
*.ppf
outputs


# qsys
*.bsf
*.cmp
*.html
*.sopcinfo
*.rpt
*.lck
.qsys_edit
*.stp

# software
app
bsp

# c
*.out